<!doctype html>
<html lang="{{ language }}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ name }} CV">
    <title>{{ name }}</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="fonts/fonts.css" type="text/css">

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>

<body>
    <main class="screen wrapper clearfix d-flex align-items-end flex-column">
        <div class="sidebar" style="margin: 10px">
            <nav id="nav" class="screen">
                <a href="#" title="Change current language to English" data-lang-ref="en">EN</a>
                <span>|</span>
                <a href="#" title="Remplacer les textes par leur version en Français" data-lang-ref="fr">FR</a>
                <span>|</span>
                <a href="#" title="Alterar o idioma atual para Português" data-lang-ref="pt">PT</a>
            </nav>
        </div>
    </main>
    <div class="container page">
        <div class="row justify-content-center">
            <div class="col-md-8 col-print-8">
                <div class="media">
                    <div class="square mr-3">
                        <img src="img/profile-gray.png" alt="profile image">
                    </div>
                    <div class="media-body ">
                        <h1 class="mt-0">{{ name }}</h1>
                        <h2 id="subtitle">
                            <a href="https://gferr.github.io/resume">
                                <span>gferr.github.io/resume</span>
                            </a>
                        </h2>
                        <div id="contact-info" class="pt-2">
                            <div id="contact-1st-row" class="row">
                                <div class="col pr-0">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    <a href="https://www.linkedin.com/in/gf3rr3ira" target="_blank">
                                        <span class="print">https://www.linkedin.com/in/gf3rr3ira</span>
                                        <span class="screen">linkedin.com/in/gf3rr3ira</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    <a href="tel:+33766275040">
                                        <span class="print">07 66 27 50 40</span>
                                        <span class="screen">07 66 27 50 40</span>
                                    </a>
                                </div>
                            </div>
                            <div id="contact-2nd-row" class="row">
                                <div class="col pr-0">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                    <a href="https://github.com/gferr">
                                        <span class="print">https://github.com/gferr</span>
                                        <span class="screen">github.com/gferr</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    <a href="mailto:guilhermef18+cv@gmail.com">
                                        <span class="print">guilhermef18@gmail.com</span>
                                        <span class="screen">guilhermef18</span>
                                    </a>
                                </div>
                            </div>
                            <div class="print row">
                                <div class="col">
                                    <p data-translatable>
                                        <span>
                                            <i class="fa fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Last update at {{ updated }}</span>
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa  fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Dernier mise à jour le {{ updated }}</span>
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa  fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Última atualização em {{ updated }}</span>
                                            </time>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="screen row">
                                <div class="col pr-0">
                                    <p data-translatable>
                                        <span class="screen">
                                            <i class="fa fa-file-pdf-o " aria-hidden="true "></i>
                                            <a href="{{ pdf.en }} ">
                                                <span>Download PDF</span>
                                            </a>
                                        </span>
                                        <span class="screen">
                                            <i class="fa fa-file-pdf-o " aria-hidden="true "></i>
                                            <a href="{{ pdf.fr }} ">
                                                <span>Téléchargez PDF</span>
                                            </a>
                                        </span>
                                        <span class="screen">
                                            <i class="fa fa-file-pdf-o " aria-hidden="true "></i>
                                            <a href="{{ pdf.pt }} ">
                                                <span>Descarregar PDF</span>
                                            </a>
                                        </span>
                                    </p>
                                </div>
                                <div class="screen col">
                                    <p data-translatable>
                                        <span>
                                            <i class="fa  fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Updated at {{ updated }}</span>
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa  fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Mise à jour le {{ updated }}</span>
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa  fa-pencil-square" aria-hidden="true "></i>
                                            <time datetime="{{ buildinfo.date }} " class="text-muted ">
                                                <span>Atualizado em {{ updated }}</span>
                                            </time>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <h3 class="mt-2rem">Goal</h3>
        <div class="row justify-content-end">
            <div id="goal" class="col-8 pl-2 pr-3">
                <p>I intend to help developer teams to deliver <b>high-quality</b> products that add <b>value</b> to the
                    customer.
                </p>
            </div>
        </div>


        <h3>Selected Work</h3>

        <ul class="list-unstyled">

            <!-- beorn -->
            <li class="media">
                <div class="mr-3 img-padding-top">
                    <img src="img/k8s.jpg" alt="Kubernetes dashboard">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">Jan 2019 &mdash; </span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                            <span title="Industry"><i class="fa fa-industry"
                                    aria-hidden="true"></i>&nbsp;On-Demand</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Toulouse</span>
                        </div>
                    </div>

                    <p><a href="https://aws.amazon.com/fr/campaigns/cloud-migration/" class="leadtext" target="_blank">
                            AWS Cloud Migration</a>, project driver and lead. Migrated the company infrastruture to the
                        cloud
                        currently hosting more than 8 production platforms. Choosed AWS EkS and provided a technical and
                        finalcial study to support it.
                        Cuted $400 in the bill replacing the <a
                            href="https://itnext.io/save-on-your-aws-bill-with-kubernetes-ingress-148214a79dcb"
                            target="_blank">AWS ELB to NGINX Ingress controler</a>.
                    </p>
                    <p>
                        Implemented a PaaS solution with CI/CD and similar features as
                        <a href="https://www.liferay.com/fr/products/dxp-cloud" target="_blank">Liferay Cloud
                            Platform</a>.
                        Build Liferay images with jib and used circleci to orchestrate the deployments.

                    </p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">Liferay 7.x</span>
                        <span class="tag">Springboot</span>
                        <span class="tag">Java 8</span>
                        <span class="tag">React / Redux</span>
                    </div>
                </div>
            </li>


            <!-- beorn -->
            <li class="media">
                <div class="mr-3 img-padding-top">
                    <img src="img/tmpe.jpg" alt="Toulouse Metropole Portail Emploi">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">Oct 2018 &mdash; </span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                            <span title="Industry"><i class="fa fa-industry"
                                    aria-hidden="true"></i>&nbsp;On-Demand</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Toulouse</span>
                        </div>
                    </div>

                    <p><a href="https://emploi.preprod.cutm.nfrance.com/" class="leadtext" target="_blank">
                            Architected and developed Portail Emploi</a>, leaded a team of 5 developers and devilered
                        the
                        first MVP version in less than a month.
                    </p>

                    <p>Used <a href="https://www.jhipster.tech/">JHipster</a> to accelarate the deveoplment cycles.
                        Integrated with <a
                            href="https://www.emploi-store-dev.fr/portail-developpeur/detailapicatalogue/-offres-d-emploi-v2?id=5ba49d55243a5f9d2c5064a2">emploi
                            store API</a>
                        with industry standard Open API. Desined the project APIs to easly split tasks and distribute
                        the work. Assembled the final project
                        in a SPA inside Liferay CMS.
                    </p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">Liferay 7.x</span>
                        <span class="tag">Springboot</span>
                        <span class="tag">Java 8</span>
                        <span class="tag">React / Redux</span>
                    </div>
                </div>
            </li>

            <!-- MB.io -->
            <li class="media">
                <div class="mr-3 img-padding-top" style="text-align:right">
                    <img src="img/td-400.png" alt="Test drive application">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">2017 &mdash; 2018</span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.mercedes-benz.de/" target="_blank">Mercedes-Benz.io</a></span>
                            <span title="Industry"><i class="fa fa-industry" aria-hidden="true"></i>&nbsp;Digital
                                Media</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Lisbon / Stuttgart</span>
                        </div>
                    </div>

                    <p><a href="https://www.mercedes-benz.de/" class="leadtext" target="_blank">Mercedes-Benz.io</a>
                        Lead developer, mainteined and evolved the <a
                            href="https://www.mercedes-benz.de/content/germany/de/passengercars/mercedes-benz-cars/test-drive.html#/model">
                            Test Drive Application</a>. Reduced the leads lost rate to under zero implementing
                        fault tolerance and asynchronous processing mechanism with RabbitMQ and Amazon SES. Reduced the
                        page loading time from 3s, sometimes up to 10s, to 1s by using Hibernate Ehcache.
                    </p>
                    </p>

                    <p>Rolled out the application every two weeks into more than 25 countries, I managed the releases
                        contents and routinely presented the application evolutions and the roadmap to the <span
                            style="white-space: nowrap">top-level</span> management.
                    </p>

                    <img id="firebaseimg" src="img/fb1.png">
                    <p>Implemented from scratch a back-office application with similar features of <a
                            href="https://firebase.google.com/docs/database/" target="_blank">Firebase Realtime
                            Database</a></p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">Spring Boot</span>
                        <span class="tag">CloudFoundry</span>
                        <span class="tag">Vue</span>
                        <span class="tag">Angular</span>
                        <span class="tag">Kotlin</span>
                        <span class="tag">RabbitMQ</span>
                        <span class="tag">Docker</span>
                    </div>
                </div>
            </li>

            <!-- Xpand -->
            <li class="media">
                <div class="mr-3 img-padding-top">
                    <img src="img/cfg-mobile-400.png">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">2016 &mdash; 2017</span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.xpand-it.com/" target="_blank">Xpand-IT</a></span>
                            <span title="Industry"><i class="fa fa-industry" aria-hidden="true"></i>&nbsp;FinTech</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Lisbon / Frankfurt</span>
                        </div>
                    </div>

                    <p><a href="https://www.commerzbank.de/portal/de/privatkunden/startseite.html" target="_blank"
                            class="leadtext">Commerzbank.</a> Designed and implemented the Enterprise Service Bus of a
                        home banking application that handles 5K+ queries per second. Implemented operations like login, list
                        statements, upload documents, among others.
                    </p>

                    <p>
                        Implemented a custom <a href="https://en.wikipedia.org/wiki/Two-phase_commit_protocol"
                            target="_blank">two-phase commit protocol</a> to assure that operations like immediate
                        transfers could be performed.

                    </p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">Red Hat JBoss Fuse</span>
                        <span class="tag">SwitchYard</span>
                        <span class="tag">Apache Camel</span>
                        <span class="tag">WSDL</span>
                        <span class="tag">SOAP</span>
                    </div>

                </div>
            </li>

            <!-- mtc -->
            <li class="media">
                <div class="mr-3 img-padding-top">
                    <img src="img/ejbca10-bg.png">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">

                            <span class="datehead">2015 &mdash; 2016</span>
                        </div>


                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.multicert.com/" target="_blank">Multicert</a></span>
                            <span title="Industry"><i class="fa fa-industry" aria-hidden="true"></i>&nbsp;Cyber
                                Security</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Lisbon</span>
                        </div>
                    </div>

                    <p><a href="https://www.ejbca.org/" class="leadtext">Reengineered EJBCA</a> to be used as the first
                        Portuguese Root Certification Authority. From <a href="https://github.com/rgorosito/ejbca"
                            target="_blank">a project with more than 37 modules and 322K LOC</a>,
                        I changed the building tool from Apache Ant to Maven. I ended with all errors caused during
                        manual installation by automating it with scripts.
                    </p>

                    <p>Redesigned the front-end using PrimeFaces, and reduced the time to generate a certificate from
                        4.5s to 2.1s by improving the lock mechanism.
                    </p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">JEE 7</span>
                        <span class="tag">JSP</span>
                        <span class="tag">PrimeFaces</span>
                        <span class="tag">ShellScript</span>
                        <span class="tag">JMeter</span>
                        <span class="tag">Vagrant</span>
                    </div>
                    </p>

                </div>
            </li>
            <!-- mtc -->
            <li class="media">
                <div class="mr-3 img-padding-top">
                    <img src="img/mtc-landing-400.png">
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">2015</span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.multicert.com/" target="_blank">Multicert</a></span>
                            <span title="Industry"><i class="fa fa-industry"
                                    aria-hidden="true"></i>&nbsp;E-Commerce</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Lisbon</span>
                        </div>
                    </div>
                    <p><a href="https://www.multicert.com/3ws/purchase?execution=e1s1" class="leadtext">Adapted a
                            Digital Certificate eCommerce</a> for physical stores and deployed it at more than
                        300 <a href="https://www.ctt.pt/" target="">CTT post office stores</a>.
                    </p>

                    <p>I optimized the UX/UI experience for tablets and terminals. I exposed a REST endpoint and
                        integrated the barcode 128 algorithm, so the operators could use the scannner to retrieve the
                        certificate price.
                    </p>

                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">JEE 6</span>
                        <span class="tag">Java 7</span>
                        <span class="tag">Spring Web Flow</span>
                        <span class="tag">JSP</span>
                        <span class="tag">C</span>
                        <span class="tag">JBoss AS 7</span>
                    </div>

                </div>
            </li>

            <li class="media">
                <div class="mr-3 pt-3 aligner" style="margin-right: 0em !important">
                    <div class="aligner-item-wide">
                        <img src="img/rosetta.png">
                    </div>
                </div>
                <div class="media-body pr-3">
                    <div class="datespan row">
                        <div class="col-4">
                            <span class="datehead">2014 &mdash; 2015</span>
                        </div>
                        <div class="col-8 company-info">
                            <span><i class="fa fa-at" aria-hidden="true" style="font-size: larger;"></i>&nbsp;<a
                                    href="https://www.inesc-id.pt/" target="_blank">INESC-ID</a></span>
                            <span title="Industry"><i class="fa fa-industry" aria-hidden="true"></i>&nbsp;R&amp;D</span>
                            <span><i class="fa fa-map-marker" style="font-size: large;"
                                    aria-hidden="true"></i>&nbsp;Lisbon</span>
                        </div>
                    </div>

                    <p><a href="http://web.ist.utl.pt/antonio.menezes.leitao/Rosetta/about/about.html" target="_blank"
                            class="leadtext">
                            Rosetta.</a> Empowered Rosetta environment with a code playground where users can create
                        their designs by interacting with the code.
                    </p>

                    <p>Initiated, designed, prototyped, and implemented programming tools such as the <span
                            style="font-weight: bold; white-space: nowrap;">sketch-correlation</span> tool which
                        correlates image with code illustrating the intent of each piece
                        of code.
                    </p>
                    <div class="tag_">
                        <span class="tech">Technologies.</span>
                        <span class="tag">Racket (Lisp)</span>
                        <span class="tag">DrRacket (IDE)</span>
                        <span class="tag">AutoCAD API</span>
                        <span class="tag">Rhinoceros 3D API</span>
                        <span class="tag">OpenGL</span>
                    </div>
                </div>
            </li>

            <h3>Education</h3>

            <li class="media">
                <div class="mr-3 pt-3 aligner" style="margin-right: 0em !important">
                    <div class="aligner-item">
                        <img src="img/ist.png">
                    </div>
                </div>
                <div class="media-body pr-3">
                    <div class="datespan datecolumn">2013 &mdash; 2015</div>
                    <p><a href="https://tecnico.ulisboa.pt/en/" target="_blank" class="leadtext">IST.</a> MS in
                        Information Systems and Computer Engineering.</p>

                    <p>Thesis:
                        <a href="https://fenix.tecnico.ulisboa.pt/cursos/meic-a/dissertacao/1691203502342197"
                            target="_blank">
                            An Enhanced Programming Environment for Generative Design</a>. I invented a programming
                        environment where architects can implement their sketches, share the code, and create systems. I
                        provided a theoretical foundation and implemented novel programming tools tailored to the
                        generative design domain. Those tools were used in an architectural course by more than 60
                        students.
                    </p>
                    <div class="datespan datecolumn">2010 &mdash; 2013</div>
                    <p><a href="https://tecnico.ulisboa.pt/en/" target="_blank" class="leadtext">IST.</a> BS in
                        Information Systems and Computer Engineering.</p>

                </div>
            </li>

        </ul>
    </div>

    <script src="js/dom-i18n.min.js "></script>
    <script>
        var i18n = domI18n({
            selector: '[data-translatable]',
            separator: ' // ',
            languages: ['en', 'fr', 'pt'],
            defaultLanguage: 'en',
            currentLanguage: "{{ language }} "
        });

        var nav = Array.prototype.slice.call(document.querySelectorAll('#nav > a'));

        nav.forEach(function (item) {
            item.onclick = function (e) {
                i18n.changeLanguage(this.getAttribute('data-lang-ref'));
                e.preventDefault();
            };
        });
    </script>

</body>

</html>