<!doctype html>
<html lang="{{ language }}">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{{ name }} CV" name="description">
    <title>{{ name }}</title>

    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="fonts/fonts.css" rel="stylesheet" type="text/css">

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });


    </script>
</head>

<body>
<main class="screen wrapper clearfix d-flex align-items-end flex-column">
    <div class="sidebar" style="margin: 10px">
        <nav class="screen" id="nav">
            <a data-lang-ref="en" href="#" title="Change current language to English">EN</a>
            <span>|</span>
            <a data-lang-ref="fr" href="#" title="Remplacer les textes par leur version en Français">FR</a>
            <span>|</span>
            <a data-lang-ref="pt" href="#" title="Alterar o idioma atual para Português">PT</a>
        </nav>
    </div>
</main>
<div class="container page">
    <div class="row justify-content-center">
        <div class="col-md-8 col-print-8">
            <div class="media">
                <div class="square mr-3">
                    <img alt="profile image" src="img/profile-gray.png">
                </div>
                <div class="media-body ">
                    <h1 class="mt-0">{{ name }}</h1>
                    <h2 id="subtitle">
                        <a href="https://gferr.github.io/resume">
                            <span>gferr.github.io/resume</span>
                        </a>
                    </h2>
                    <div class="pt-2" id="contact-info">
                        <div class="row" id="contact-1st-row">
                            <div class="col pr-0">
                                <i aria-hidden="true" class="fa fa-github"></i>
                                <a href="https://github.com/gferr">
                                    <span class="print">https://github.com/gferr</span>
                                    <span class="screen">/gferr</span>
                                </a>
                            </div>
                            <div class="col">
                                <i aria-hidden="true" class="fa fa-paper-plane"></i>
                                <a href="mailto:guilhermef18+cv@gmail.com">
                                    <span class="print">guilhermef18@gmail.com</span>
                                    <span class="screen">guilhermef18</span>
                                </a>
                            </div>
                        </div>
                        <div class="row" id="contact-2nd-row">
                            <div class="col pr-0">
                                <i aria-hidden="true" class="fa fa-linkedin-square"></i>
                                <a href="https://www.linkedin.com/in/gferr" target="_blank">
                                    <span class="print">https://www.linkedin.com/in/gferr</span>
                                    <span class="screen">/gferr</span>
                                </a>
                            </div>
                            <div class="col">
                                <i aria-hidden="true" class="fa fa-phone-square"></i>
                                <a href="tel:+33766275040">
                                    <span class="print">(+33) 07 66 27 50 40</span>
                                    <span class="screen">07 66 27 50 40</span>
                                </a>
                            </div>

                        </div>
                        <div class="print row">
                            <div class="col">
                                <p data-translatable>
                                        <span>
                                            <i aria-hidden="true " class="fa fa-pencil-square"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>Last update in {{ pdf.en.updated }}</span>
                                            </time>
                                        </span>
                                    <span>
                                            <i aria-hidden="true " class="fa  fa-pencil-square"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>Dernier mise à jour le {{ pdf.fr.updated }}</span>
                                            </time>
                                        </span>
                                    <span>
                                            <i aria-hidden="true " class="fa  fa-pencil-square"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>Última atualização em {{ pdf.pt.updated}}</span>
                                            </time>
                                        </span>
                                </p>
                            </div>
                        </div>
                        <div class="screen row">
                            <div class="col pr-0">
                                <p data-translatable>
                                        <span class="screen">
                                            <i aria-hidden="true" class="fa fa-download"></i>
                                            <a href="{{ pdf.en.name }} ">
                                                <span>PDF</span>
                                            </a>
                                        </span>
                                    <span class="screen">
                                            <i aria-hidden="true" class="fa fa-download"></i>
                                            <a href="{{ pdf.fr.name }} ">
                                                <span>PDF</span>
                                            </a>
                                        </span>
                                    <span class="screen">
                                            <i aria-hidden="true" class="fa fa-download"></i>
                                            <a href="{{ pdf.pt.name }} ">
                                                <span>PDF</span>
                                            </a>
                                        </span>
                                </p>
                            </div>
                            <div class="screen col">
                                <p data-translatable>
                                        <span>
                                            <i aria-hidden="true" class="fa fa-tag" data-placement="top"
                                               data-toggle="tooltip" title="Last update"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>{{ pdf.en.updated }}</span>
                                            </time>
                                        </span>
                                    <span>
                                            <i aria-hidden="true " class="fa fa-tag" data-placement="top"
                                               data-toggle="tooltip" title="Dernière mise à jour"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>{{ pdf.fr.updated }}</span>
                                            </time>
                                        </span>
                                    <span>
                                            <i aria-hidden="true " class="fa fa-tag" data-placement="top"
                                               data-toggle="tooltip" title="Última atualização"></i>
                                            <time class="text-muted " datetime="{{ buildinfo.machineDate }} ">
                                                <span>{{ pdf.pt.updated }}</span>
                                            </time>
                                        </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="screen">
        <h3 class="mt-2rem">Goal</h3>
        <div class="row justify-content-end">
            <div class="col-8 pl-2 pr-3" id="goal">
                <p>I intend to help developer teams to deliver <b>high-quality</b> products that add <b>value</b> to the
                    customer.
                </p>
            </div>
        </div>
    </div>

    <h3>Selected Work</h3>

    <ul class="list-unstyled">

        <li class="media">
            <div class="screen mr-3 img-padding-top">
                <img alt="Orange logo" src="img/orange.png">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2021 &mdash; present</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker" style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext"
                   href="https://www.orange-business.com/en"
                   target="_blank">
                    Orange</a>, Software Engineer <i>(Orange Business Service)</i>
                <ul class="itemize">
                    <li>Led the migration of a monolithic B2B platform into service-oriented architecture. Delivered the
                        first MVP in one month and cut the initial estimation in half by shifting development between
                        teams across different stacks.
                    </li>
                    <li>Eliminated code duplication in 30+ projects across the organization by creating a
                        <a href="https://docs.gitlab.com/ee/development/cicd/templates.html" target="_blank">shared
                            gitlab ci template</a>.
                    </li>
                    <li>Improved SSO authentication security by adding server token validation with <a
                        href="https://github.com/google/tink" target="_blank">Google Tink</a>.
                    </li>
                </ul>

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Liferay CMS</span>
                    <span class="tag">Gitlab CI</span>
                    <span class="tag">OSGi</span>
                    <span class="tag">SiteMinder SSO</span>
                    <span class="tag">helm</span>
                    <span class="tag">kotlin</span>
                </div>
            </div>
        </li>

        <li class="media">
            <div class="screen mr-3 img-padding-top">
                <img alt="AOS logo" src="img/aos.jpg">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2020 &mdash; 2021</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext"
                   href="https://www.airbus.com/space/telecommunications-satellites/oneweb-satellites-connection-for-people-all-over-the-globe.html"
                   target="_blank">
                    AIRBUS</a>, Software Engineer <i>(OneWeb Satellites)</i>
                <ul class="itemize">
                    <li>Reduced time to upload satellites data by 75% by implementing an event-driven architecture with
                        RabbitMQ.
                    </li>
                    <li>Added unit tests with a project line coverage of 95%, which reduced the QA backlog from
                        40H/week to 8H.
                    </li>
                    <li>Detected vulnerabilities and critical bugs before the app reaches the UAT env by
                        adding <a href="https://circleci.com/developer/orbs/orb/snyk/snyk" target="_blank">Snyk orb</a>
                        and SonarQube to the integration pipeline.
                    </li>
                    <li>Helped the client prioritize epics and define the product roadmap.</li>
                </ul>

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Liferay DXP 7.x</span>
                    <span class="tag">Circle CI</span>
                    <span class="tag">mockk</span>
                    <span class="tag">Cucumber Framework</span>
                    <span class="tag">TDD</span>
                </div>
            </div>
        </li>

        <li class="print media">
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2018 &mdash; 2020</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a>, Software
                Engineer <i>(Web platforms and Cloud migration projects)</i>
                <ul class="itemize">
                    <li>Led a dozen projects within the company to build, evolve and maintain
                        citizens portal like <a href="https://www.toulouse.fr/" target="_blank">Toulouse.fr</a>,
                        <a href="https://www.agglo-larochelle.fr/" target="_blank">La Rochelle</a>, <a
                            href="https://www.grand-chatellerault.fr/" target="_blank">Grand Châtellerault</a>.
                    </li>
                    <li>Build an Application Tracking System that accounted for 30% of the company's annual revenue
                        currently used by <a href="https://emploi.preprod.cutm.nfrance.com/" target="_blank">Portail
                            Emploi</a> and
                        <a href="https://recrutement-icr.iuct-oncopole.fr/" target="_blank">IUCT</a>.
                    </li>
                    <li>Migrated the company infrastructure to AWS Cloud on top of EKS. Cut $400/month in the bill by
                        implementing a custom <a
                            href="https://itnext.io/save-on-your-aws-bill-with-kubernetes-ingress-148214a79dcb"
                            target="_blank">NGINX Ingress to replace the AWS ELB</a>
                    </li>
                </ul>

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Kubernetes</span>
                    <span class="tag">Node</span>
                    <span class="tag">Python</span>
                    <span class="tag">AWS</span>
                </div>
            </div>
        </li>

        <li class="screen media">
            <div class="screen mr-3 img-padding-top">
                <img alt="Kubernetes dashboard" src="img/k8s.jpg">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">Mar 2019 &mdash; 2020</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext" href="https://aws.amazon.com/fr/campaigns/cloud-migration/" target="_blank">
                    AWS Cloud Migration</a>, Platform Engineer.

                <ul class="itemize">
                    <li>Migrated, from scratch, the company's infra into the
                        cloud. Currently hosting more than <b>20+ web platforms</b> among production and UAT.
                    </li>
                    <li>Choose <b>AWS
                        EKS</b> and provided a technical and financial study to support my decision.
                    </li>
                    <li>Cut $400/month in
                        the bill by implementing a custom <a
                            href="https://itnext.io/save-on-your-aws-bill-with-kubernetes-ingress-148214a79dcb"
                            target="_blank">NGINX Ingress to replace the AWS ELB</a>.
                    </li>
                    <li>
                        Implemented a PaaS solution with <b>CI/CD</b> providing similar features as
                        <a href="https://www.liferay.com/fr/products/dxp-cloud" target="_blank">Liferay Cloud
                            Platform</a>. Orchestrated the builds and deployments with
                        <a href="https://circleci.com/" target="_blank">CircleCI</a>.
                    </li>
                    <li>
                        Optimized the pipeline execution time and added a notification system that maximizes the
                        developer's productivity.
                    </li>
                    <li>
                        Used
                        <a href="https://github.com/tazjin/kontemplate/tree/v1.8.0" target="_blank">kontemplate</a> to
                        set up an isolated namespace dedicated to DEV and QA teams.
                    </li>
                </ul>

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Kubernetes</span>
                    <span class="tag">AWS EKS</span>
                    <span class="tag">Route 53</span>
                    <span class="tag">Python</span>
                    <span class="tag">Node</span>
                    <span class="tag">ShellScript</span>
                </div>
            </div>
        </li>

        <!-- beorn -->
        <li class="screen media">
            <div class="screen mr-3 img-padding-top">
                <img alt="Toulouse Metropole Portail Emploi" src="img/tmpe.jpg">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">Jan 2019 &mdash; Mar 2019 </span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext" href="https://emploi.preprod.cutm.nfrance.com/" target="_blank">
                    Portail Emploi</a>, Software Engineer.
                <ul class="itemize">
                    <li>Managed a team of 5+ developers, among freelancers and internals, and delivered the first MVP
                        version in less than a month.
                    </li>
                    <li>
                        Used <a href="https://www.jhipster.tech/" target="_blank">JHipster</a> to accelerate the
                        development cycles. Advocated for the use of
                        <a href="https://swagger.io/specification/" target="_blank">OpenAPI Specification</a>
                        on the exposed and consumed APIs such as the
                        <a
                            href="https://www.emploi-store-dev.fr/portail-developpeur/detailapicatalogue/-offres-d-emploi-v2?id=5ba49d55243a5f9d2c5064a2">emploi
                            store API</a>.
                    </li>
                    <li>Decoupled the project in smaller components, distributed them, and assured the
                        quality of the work produced. Assembled the final project in a <b>SPA</b> inside Liferay CMS.
                    </li>
                </ul>
                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Liferay 7.x</span>
                    <span class="tag">Springboot</span>
                    <span class="tag">Java 8</span>
                    <span class="tag">React / Redux</span>
                </div>
            </div>
        </li>

        <li class="screen media">
            <div class="screen mr-3 img-padding-top">
                <img alt="Jobextra" src="img/jobextra.jpg">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">Oct 2018 &mdash; Jan 2019 </span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.beorntech.com/" target="_blank">Beorn Technologies</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Toulouse</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.facebook.com/groups/477769175737536" target="_blank">
                    Jobextra 31</a>, Software Engineer.
                <ul class="itemize">
                    <li>Led a team of 6+ engineers to refactor and evolve Jobextra, an application designed to simplify
                        the recruiting process.
                    </li>
                    <li>Shifted the architecture from a single tier to multiple tiers that support 50k+ connected users
                        and over 100K concurrent offers.
                    </li>
                    <li>Created a dedicated frontend in AngularJS that manages the jobs posted through a Facebook group.
                        Increased the number of users by 96% using oauth2 protocol (login with FB)
                    </li>
                    <li>Used a NodeJS with typescript running on top of expressjs as a backend server and integrated
                        with <a href="https://developers.facebook.com/docs/graph-api" target="_blank">Graph API</a> to
                        fetch user information.
                    </li>
                    <li>Used <a href="https://aws.amazon.com/cognito" target="_blank">Amazon Cognito</a> to create user
                        pools dedicated to the UAT environment.
                    </li>
                </ul>
                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">NodeJS</span>
                    <span class="tag">Typescript</span>
                    <span class="tag">Facebook Graph API</span>
                    <span class="tag">AWS Cognito</span>
                    <span class="tag">MongoDB</span>
                </div>
            </div>
        </li>

        <!-- MB.io -->
        <li class="media">
            <div class="screen mr-3 img-padding-top" style="text-align:right">
                <img alt="Test drive application" src="img/td-400.png">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2017 &mdash; 2018</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.mercedes-benz.de/" target="_blank">Mercedes-Benz.io</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon / Stuttgart</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.mercedes-benz.de/" target="_blank">Mercedes-Benz.io</a>, Software
                Engineer <i>(<a
                href="https://www.mercedes-benz.de/content/germany/de/passengercars/mercedes-benz-cars/test-drive.html#/model">Test
                Drive</a> team</i>)

                <ul class="itemize">
                    <li>Reduced the leads lost rate to under zero implementing fault tolerance and asynchronous
                        processing mechanism with RabbitMQ and Amazon SES.
                    </li>
                    <li>
                        Reduced the page loading time from 3s, sometimes up to 10s, to 1s by using Hibernate Ehcache.
                    </li>
                    <li>Rolled out the application every two weeks into more than <b>25 countries</b>. Managed the
                        releases contents and routinely presented the application evolutions and the roadmap to the
                        <span
                            style="white-space: nowrap">top-level</span> management.
                    </li>
                    <li>Implemented from scratch a back-office application with similar features of <a
                        href="https://firebase.google.com/docs/database/" target="_blank">Firebase Realtime Database</a>
                    </li>
                </ul>
                <img class="screen" id="firebaseimg" src="img/fb1.png">

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Spring Boot</span>
                    <span class="tag">CloudFoundry</span>
                    <span class="tag">Vue</span>
                    <span class="tag">AngularJS</span>
                    <span class="tag">Kotlin</span>
                    <span class="tag">RabbitMQ</span>
                    <span class="tag">Docker</span>
                </div>
            </div>
        </li>

        <!-- Xpand -->
        <li class="media">
            <div class="screen mr-3 img-padding-top">
                <img src="img/cfg-mobile-400.png">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2016 &mdash; 2017</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.xpand-it.com/" target="_blank">Xpand-IT</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon / Frankfurt</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.commerzbank.de/portal/de/privatkunden/startseite.html"
                   target="_blank">Commerzbank</a>, Software Engineer (<i>Fintech team</i>)
                <ul class="itemize">
                    <li>Designed and implemented the Enterprise Service Bus of a home banking application that handles
                        5K+ queries per second.
                    </li>
                    <li>Implemented operations like login, list statements, upload documents, among others.
                    </li>
                    <li>Implemented a custom <a href="https://en.wikipedia.org/wiki/Two-phase_commit_protocol"
                                                target="_blank">two-phase commit protocol</a> to assure that operations
                        like immediate transfers could be performed.
                    </li>
                </ul>
                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Red Hat JBoss Fuse</span>
                    <span class="tag">SwitchYard</span>
                    <span class="tag">Apache Camel</span>
                    <span class="tag">WSDL</span>
                    <span class="tag">SOAP</span>
                </div>

            </div>
        </li>

        <!-- mtc -->
        <li class="media">
            <div class="screen mr-3 img-padding-top">
                <img src="img/ejbca10-bg.png">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2015 &mdash; 2016</span>
                    </div>

                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.multicert.com/" target="_blank">Multicert</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.ejbca.org/">Multicert</a>, Software Engineer <i>(CA core team)</i>
                <ul class="itemize">
                    <li>Reengineered <a href="https://www.ejbca.org/" target="_blank">EJBCA</a> to be used as the first
                        Portuguese Root Certification Authority.
                    </li>
                    <li>Changed the building tool from Apache Ant to Maven from <a
                        href="https://github.com/rgorosito/ejbca" target="_blank">a project with more than 37 modules
                        and 322K LOC</a>
                    </li>
                    <li>Created an installation wizard that reduced installation problems by 90%.
                    </li>
                    <li>Redesigned the front-end using PrimeFaces, which increased sales by 20%.</li>
                    <li>Reduced the time to generate a certificate from 4.5s to 2.1s by improving the lock mechanism.
                    </li>
                </ul>

                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">JEE 7</span>
                    <span class="tag">JSP</span>
                    <span class="tag">PrimeFaces</span>
                    <span class="tag">ShellScript</span>
                    <span class="tag">JMeter</span>
                    <span class="tag">Vagrant</span>
                </div>
                </p>
            </div>
        </li>

        <!-- mtc -->
        <li class="screen media">
            <div class="screen mr-3 img-padding-top">
                <img src="img/mtc-landing-400.png">
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2015</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.multicert.com/" target="_blank">Multicert</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon</span>
                    </div>
                </div>

                <a class="leadtext" href="https://www.multicert.com/3ws/purchase?execution=e1s1">
                    Multicert</a>, Software Engineer <i>(3WS eCommerce team)</i>
                <ul class="itemize">
                    <li>Adapted a
                        Digital Certificate eCommerce for physical stores and deployed it at more than
                        300 <a href="https://www.ctt.pt/" target="">CTT post office stores</a>.
                    </li>
                    <li>Optimized the UX/UI experience for tablets and terminals.</li>
                    <li>Exposed a REST endpoint and integrated the barcode 128 algorithm, so the operators could use the
                        scanner to retrieve the certificate price.
                    </li>
                </ul>
                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">JEE 6</span>
                    <span class="tag">Java 7</span>
                    <span class="tag">Spring Web Flow</span>
                    <span class="tag">JSP</span>
                    <span class="tag">C</span>
                    <span class="tag">JBoss AS 7</span>
                </div>

            </div>
        </li>

        <li class="screen media">
            <div class="screen mr-3 pt-3 aligner" style="margin-right: 0em !important">
                <div class="aligner-item-wide">
                    <img src="img/rosetta.png">
                </div>
            </div>
            <div class="media-body pr-3">
                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2014 &mdash; 2015</span>
                    </div>
                    <div class="col-8 company-info">
                            <span><i aria-hidden="true" class="fa fa-at" style="font-size: larger;"></i>&nbsp;<a
                                href="https://www.inesc-id.pt/" target="_blank">INESC-ID</a></span>
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon</span>
                    </div>
                </div>

                <a class="leadtext" href="http://web.ist.utl.pt/antonio.menezes.leitao/Rosetta/about/about.html"
                   target="_blank">Rosetta</a>, Researcher Engineer
                <ul class="itemize">
                    <li>Empowered Rosetta environment with a code playground where users can create their designs by
                        interacting with the code.
                    </li>
                    <li>Initiated, designed, prototyped, and implemented programming tools such as the <span
                        style="font-weight: bold; white-space: nowrap;">sketch-correlation</span> tool which correlates
                        image with code illustrating the intent of each piece of code.
                    </li>
                </ul>
                <div class="tag_">
                    <span class="tech">Technologies.</span>
                    <span class="tag">Racket (Lisp)</span>
                    <span class="tag">DrRacket (IDE)</span>
                    <span class="tag">AutoCAD API</span>
                    <span class="tag">Rhinoceros 3D API</span>
                    <span class="tag">OpenGL</span>
                </div>
            </div>
        </li>

        <h3>Education</h3>

        <li class="media">
            <div class="screen mr-3 pt-3 aligner" style="margin-right: 0em !important">
                <div class="aligner-item">
                    <img src="img/ist.png">
                </div>
            </div>
            <div class="media-body pr-3">

                <div class="datespan row">
                    <div class="col-4">
                        <span class="datehead">2013 &mdash; 2015</span>
                    </div>
                    <div class="col-8 company-info">
                        <span><i aria-hidden="true" class="fa fa-map-marker"
                                 style="font-size: large;"></i>&nbsp;Lisbon</span>
                    </div>
                </div>
                <p><a class="leadtext" href="https://tecnico.ulisboa.pt/en/" target="_blank">Technical University of
                    Lisbon.</a> MS in
                    Information Systems and Computer Engineering <br>(<i><b>Major</b>: Distributed Systems, <b>Minor</b>:
                        Software Architecture</i>)
                </p>

                <p class="screen">Thesis:
                    <a href="https://fenix.tecnico.ulisboa.pt/cursos/meic-a/dissertacao/1691203502342197"
                       target="_blank">
                        An Enhanced Programming Environment for Generative Design</a>. I invented a programming
                    environment where architects can implement their sketches, share the code, and create systems. I
                    provided a theoretical foundation and implemented novel programming tools tailored to the
                    generative design domain. Those tools were used in an architectural course by more than 60
                    students.
                </p>
                <div class="screen pt-2"></div>
                <div class="datespan datecolumn">2010 &mdash; 2013</div>
                <p><a class="leadtext" href="https://tecnico.ulisboa.pt/en/" target="_blank">Technical University of
                    Lisbon.</a> BS in
                    Information Systems and Computer Engineering.</p>

            </div>
        </li>

    </ul>
</div>

<script src="js/dom-i18n.min.js "></script>
<script>
    var i18n = domI18n({
        selector: '[data-translatable]',
        separator: ' // ',
        languages: ['en', 'fr', 'pt'],
        defaultLanguage: 'en',
        currentLanguage: "{{ language }} "
    });

    var nav = Array.prototype.slice.call(document.querySelectorAll('#nav > a'));

    nav.forEach(function (item) {
        item.onclick = function (e) {
            i18n.changeLanguage(this.getAttribute('data-lang-ref'));
            e.preventDefault();
        };
    });

</script>

</body>

</html>
